/* client/src/index.css */
:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* ডিফল্ট মার্জিন প্যাডিং জিরো করা */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ডানে বামে স্ক্রল বন্ধ করা */
}

#root {
  width: 100%;
  height: 100%;
  /* ডিফল্ট টেক্সট এলাইনমেন্ট ঠিক করা */
  text-align: left; 
}