/* ব্রাউজারের ডিফল্ট স্টাইল রিসেট */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ডানদিকের অতিরিক্ত স্ক্রল বা ফাঁকা জায়গা বন্ধ করবে */
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
}

#root {
  width: 100%;
  height: 100%;
}